.products {
  margin: auto;
  background-color: #e0ecff;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1440px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1040px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 765px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.product .img-frame {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-product {
  max-height: 150px;
  max-width: 150px;
  object-fit: cover;
}

.product p {
  color: black;
  margin: 2px 0;
  font-size: 15px;
  padding: 5px;
  border-radius: 9px;
}

.product .id {
  background-color: white;
  color: black;
}

.price-rating {
  display: flex;
}

.price-rating .rate {
  display: flex;
}

.price-rating .price {
  display: flex;
  margin-left: auto;
}

.price-rating .rate img {
  margin-top: 5px;
}

.price-rating .price img {
  margin-top: 5px;
}
